.controls {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
  }
  
  ul {
    margin: 8px auto 8px auto;
    padding-left: 20px;
    width: 120px;
    text-align: center;
    display: block;
    font-size: 20px;
  }
  
  a {
    text-decoration: none;  
  }
  
  .button {
    margin-top: 50px;
    padding: 15px;
    background-color: lightsalmon;
    color: darkgreen;
  }
  
  .button:hover {
    background-color:lightblue;
  }
  
  .stopwatch {
    text-align: center;
    margin-top: 45px;
    
    font-size: 100px;
  }